div.conteneur_affichage_produit{
	border: 1px solid grey;
    border-radius: 20px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.label{
	color: black!important;
}

div.photo_produit{
	background: grey none repeat scroll 0 0;
    height: 200px;
    width: 100%;
}

div.retour_liste_produit{
	text-align: right;
}

div.separateur{
	height: 20px;
}

div#conteneur_popup{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.5;
	z-index: 1000;
}

body{
	position: relative;
}

div#ChargementsAjax{
	display: none;
	position: absolute;
	width: 30%;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -15%;
	margin-top: -25px;
	background: white;
	z-index: 2000;
}

div#ChargementsAjax p{
	margin:0;
	padding: 0;
	text-align: center;
	font-weight: bold;
}